{% extends "./base.html" %}

{% block body %}
    <div class="container-fluid justify-content-center align-bottom"
         style="max-width: 350px; text-align: center; margin-top: 10em">
        <form class="" action="{% url 'create_valve_confirm' %}" method="post">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="form-group">
                        <input type="text" class="form-control" required name="name" placeholder="Valve Name">
                        <div class="feedback" id="formFeedback"></div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="location">
                            {% for location in locations %}
                                <option selected="">{{ location.1 }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your state.</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="mb-4 btn btn-primary mr-2 container-fluid">Add Valve</button>
        </form>
    </div>
{% endblock %}
