{% extends "./dashboard_base.html" %}
{% load tags %}

{% block main-content %}


    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Dashboard</span>
        </div>
    </div>
    <!-- End Page Header -->
    <div>
        {% for valve in valves_list %}
            <div class="row" style="padding-left: 50px">
                {% csrf_token %}
                <div class="card" name="valve" style="width: 180px; margin: 20px;">
                    <p id="{{ valve.0 }}">

                        <br>
                        Name: <a class="name">{{ valve.2 }}</a>
                        <br>
                        Location: <a class="location">{{ locations_list|get_value:valve.1 }}</a>
                        <br>


                        Type: <a class="type">{% if valve.4 %} Gas {% else %} Water {% endif %}</a>
                        <br>
                        <a class="closed">{% if valve.5 %} Closed {% else %} Open {% endif %} </a>
                        <br>
                        Last Update: <a class="last_update">{{ valve.6|date:"d M H\:i:s" }}</a>
                    </p>


                </div>

                {% for sensor in sensors_list %}
                    {% if sensor.2 == valve.0 %}
                        <div class="card" name="sensor" style="width: 160px; margin: 20px;">
                            <p id="{{ sensor.0 }}">

                                <br>
                                Name: <a class="name"> {{ sensor.1 }}</a>
                                <br>
                                Last Update: <a class="update"> {{ sensor.3|date:"d M H\:i:s" }}</a>
                                <br>
                                Value: <a class="value"> {{ sensor.4 }}</a>
                                {#                                Location: <a#}
                                {#                                    class="location">{{ locations_list|get_value:sensor.location }}</a>#}
                                <br>

                            </p>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        {% endfor %}
    </div>

    </div>
    </main>
    </div>
    </div>


{% endblock %}
{% block script %}



    {% if valves_list %}
        <script type="text/javascript">

            const csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();
            window.setInterval(function () {
                console.log("test")
                $.ajax({
                    headers: {'X-CSRFToken': csrf_token},
                    type: 'POST',
                    async: true,
                    url: '{% url 'update_dashboard' %}',
                    success: function (data) {
                        const valves = data["valves"];
                        const sensors = data["sensors"];
                        for (var i = 1; i < valves.length + 1; i++) {
                            var valve_state = $("#" + valves[i - 1][0]).children('a[class$="closed"]')
                            if (valves[i - 1][1] === 1) {

                                valve_state.text("Closed")
                            } else {
                                valve_state.text("Open")
                            }
                            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Now", "Dec"];
                            var date = valves[i - 1][2];
                            if (date) {
                                var month = date.substring(5, 7);
                                if (month[0] == "0") {
                                    month = month[1];
                                }
                                var day = date.substring(8, 10);
                                var time = date.substring(11);
                                $("#" + valves[i - 1][0]).children('a[class$="last_update"]').text(day + " " + months[month - 1] + " " + time);
                            }
                        }
                        for (var i = 1; i < sensors.length + 1; i++) {
                            var sensor_value = $("#" + sensors[i - 1][0]).children('a[class$="value"]')

                            sensor_value.text(sensors[i - 1][4])

                            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Now", "Dec"];
                            var date = sensors[i - 1][3];
                            if (date) {
                                var month = date.substring(5, 7);
                                if (month[0] == "0") {
                                    month = month[1];
                                }
                                var day = date.substring(8, 10);
                                var time = date.substring(11);
                                $("#" + sensors[i - 1][0]).children('a[class$="update"]').text(day + " " + months[month - 1] + " " + time);
                            }
                        }

                    },
                    dataType: 'json',
                });
            }, 3000);

        </script>
    {% endif %}
{% endblock %}