{% extends "./base.html" %}

{% block body %}
<div class="container-fluid justify-content-center align-bottom" style="max-width: 350px; text-align: center; margin-top: 10em">
  <form class="" action="{% url 'submit_login' %}" method="post">
{% csrf_token %}

      <h3>Login</h3>
      <p>Please fill up the form to enter your account dashboard.</p>

      <div class="input-group mb-3">
      <div class="input-group input-group-seamless">
        <span class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">person</i>
          </span>
        </span>
        <input type="text" class="form-control" id="form1-username" placeholder="Email" required name="email">
      </div>
    </div>

   <div class="input-group mb-3">
      <div class="input-group input-group-seamless">
        <input type="password" class="form-control" id="form2-password" placeholder="Password" required name="password">
        <span class="input-group-append">
          <span class="input-group-text">
            <i class="material-icons">lock</i>
          </span>
        </span>
      </div>
    </div>

      <button type="submit" class="mb-4 btn btn-primary mr-2 container-fluid">Login</button>

      <p>New to safehouse? <a href="/dashboard/register">Create an account</a>.</p>

  </form>
</div>
{% endblock %}
