{% extends "./base.html" %}

{% block body %}
<form class="" action="{% url 'confirm_register' %}" method="post">
{% csrf_token %}
      <input type="text" required name="email" placeholder="email">
    <br>

      <input type="text" required name="password" placeholder="password">
    <br>
    <input type="text" required name="name" placeholder="First Name">
    <br>
    <input type="text" required name="surname" placeholder="Surname">
    <br>
      <button type="submit" name="Register">Login</button>
    </form>
{% endblock %}