{% extends "./base.html" %}

{% block body %}

    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="error">
            <div class="error__content">
              <h2>500</h2>
              <h3>Something went wrong!</h3>
              <p>There was a problem on our end. Please try again later.</p>
              <a type="button" class="btn btn-accent btn-pill" href="/dashboard">← Go Back</a>
            </div>
          </div>
      </div>
    </div>
{% endblock %}