{% extends "./dashboard_base.html" %}
{% load tags %}

{% block main-content %}
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Users Preferences</h3>
        </div>
    </div>
    <div class="container-fluid">
        {#        <div class="row justify-content-center">#}
        {#            <form class="" action="{% url 'enable_user_invitation' %}" method="post">#}
        {#                {% csrf_token %}#}
        {#                <div class="my-auto ml-auto">#}
        {#                    <div class="custom-control custom-toggle custom-toggle-sm mb-1">#}
        {#                        <input type="checkbox" id="customToggle" name="customToggle" class="custom-control-input"#}
        {#                               {% if token.0 %}checked="checked"{% endif %}>#}
        {#                        <label class="custom-control-label" for="customToggle">#}
        {#                            <a class="closed">Link sharing</a></label>#}
        {#                    </div>#}
        {#                </div>#}
        {#                <input type="text" class="form-control" id="form1-username"#}
        {#                       value="{% if token.0 %}{{ token }}{% endif %}">#}
        {#            </form>#}
        {#        </div>#}
        {% if  preferences.0 == 1 %}
            <div class="col-lg-5 col-md-12 col-sm-12 mb-4">
                <div class="card card-small blog-comments">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">Add users</h6>
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-3">
                                <p class="card-text text-muted">Write an email address of the user to add and provide
                                    him
                                    with necessary preferences. We will sent him a confirmation link. You guest need to
                                    confirm the letter and after that his account will be activated.</p>
                                <strong class="text-muted d-block mb-2">User email</strong>
                                <div class="input-group mb-3">
                                    <form class="" action="{% url 'invite_user_to_house' %}" method="post">
                                        {% csrf_token %}
                                        <input type="email" class="form-control" placeholder="example@mail.com"
                                               aria-label="User email" aria-describedby="basic-addon2" name="email"
                                               required>
                                        <br>
                                        <strong class="text-muted d-block mb-2">User preferences</strong>
                                        <br>
                                        <div class="custom-control custom-checkbox mb-1">
                                            <input type="checkbox" name="admin" class="custom-control-input"
                                                   id="formsCheckboxDefault">
                                            <label class="custom-control-label" for="formsCheckboxDefault">Admin</label>
                                        </div>


                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer border-top">
                        <div class="row">
                            {#                        <ul class="list-group list-group-flush">#}
                            {#                            <li class="list-group-item px-3">#}
                            {#                                <form class="" action="{% url 'enable_user_invitation' %}" method="post">#}
                            {#                                    {% csrf_token %}#}
                            {#                                    <div class="my-auto ml-auto">#}
                            {#                                        <div class="custom-control custom-toggle custom-toggle-sm mb-1">#}
                            {#                                            <input type="checkbox" id="customToggle" name="customToggle"#}
                            {#                                                   class="custom-control-input"#}
                            {#                                                   {% if token.0 %}checked="checked"{% endif %}>#}
                            {#                                            <label class="custom-control-label" for="customToggle">#}
                            {#                                                <a class="closed">Link sharing</a></label>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <input type="text" class="form-control" id="form1-username"#}
                            {#                                           value="{% if token.0 %}{{ token }}{% endif %}">#}
                            {#                                </form>#}
                            {#                            </li>#}
                            {#                        </ul>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Dashboard Users</h6>
            </div>
            <div class="card-body p-0 pb-3 text-center">
                <table class="table mb-0">
                    <thead class="bg-light">
                    <tr>
                        <th scope="col" class="border-0">#</th>
                        <th scope="col" class="border-0">First Name</th>
                        <th scope="col" class="border-0">Last Name</th>
                        <th scope="col" class="border-0">Email</th>
                        <th scope="col" class="border-0">Is Active</th>
                        {% if preferences.0 == 1 %}
                            <th scope="col" class="border-0">Actions</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>


                    {% for user in users %}

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.1 }}</td>
                            <td>{{ user.2 }}</td>
                            <td>{{ user.3 }}</td>
                            <td>
                                {% if user.4 %}
                                    <span class="text-success">
                                        <i class="material-icons">check</i>
                                    </span>
                                {% else %}
                                    <span class="text-danger">
                                        <i class="material-icons">clear</i>
                                    </span>
                                {% endif %}
                            </td>
                            {% if preferences.0 == 1 %}
                                <td>
                                    <form class="" action="{% url 'delete_user' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="mb-4 btn btn-primary mr-2" name="id"
                                                value="{{ user.0 }}">Delete
                                        </button>
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        const csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();
        var toggle = document.getElementById('customToggle');

        toggle.addEventListener('change', function (e) {
            if (toggle.checked) {
                $.ajax({
                    headers: {'X-CSRFToken': csrf_token},
                    type: 'POST',
                    async: true,
                    url: '{% url 'enable_user_invitation' %}',
                    success: function (data) {
                        const token = data["token"];
                        document.getElementById('form1-username').value = token;
                    },
                    dataType: 'json',
                });
            } else {
                document.getElementById('form1-username').value = null;
                $.ajax({
                    headers: {'X-CSRFToken': csrf_token},
                    type: 'POST',
                    async: true,
                    url: '{% url 'disable_user_invitation' %}',
                    success: function () {
                    },
                    dataType: 'json',
                });
            }
        });
    </script>
{% endblock %}
