{% extends "./base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block slogan %}
    <h1>brings safety to you</h1>
    <h2>Розумна система, що перекриє газ чи воду в разі витоку</h2>
{% endblock %}

{% block form %}
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
            <h2>Поговоримо?</h2>
            <h4 style="color: #ffffff;">Зараз ми проводимо опитування, щоб покращити наш продукт і нам дійсно дуже
                важлива думка кожного. Тому не зволікай і залишай свої контакти 😉</h4>
        </div>
    </div>
    <div class="row animate-box">
        <div class="col-md-12">
            <form class="form-inline" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}" class="sr-only">Ім'я</label>
                        {{ form.name|add_class:"form-control"|append_attr:"placeholder: Ім'я" }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}" class="sr-only">Email</label>
                        {{ form.email|add_class:"form-control"|append_attr:"placeholder: Email" }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        {{ form.phone_number.errors }}
                        <label for="{{ form.phone_number.id_for_label }}" class="sr-only">Номер телефону</label>
                        {{ form.phone_number|add_class:"form-control"|append_attr:"placeholder: Номер телефону" }}
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button type="submit" class="btn btn-default btn-block">Надіслати</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{#About us#}
{% block about-us-1 %}
    <span class="icon">
            <i class="icon-drop"></i>
        </span>
    <h3>Перекриє у разі витоку</h3>
    <p>SafeHouse - система, яка дає можливість не лише спостерігати, а й діяти! Газ чи воду буде автоматично перекрито,
        ще до того, як витік завдасть вам шкоди!</p>
{% endblock %}
{% block about-us-2 %}
    <span class="icon">
            <i class="icon-circle-check"></i>
        </span>
    <h3>Легко встановлюється</h3>
    <p>Щоб встановити наш продукт вам не потрібно втручатися в роботу комунікаційної системи чи узгоджувати встановлення
        з ЖЕКом. Вам досить витратити лише декілька хвилин на легке встановлення нашої системи.</p>
{% endblock %}
{% block about-us-3 %}
    <span class="icon">
            <i class="icon-globe"></i>
        </span>
    <h3>Сповістить у будь-яке місце планети</h3>
    <p>Наша система надає вам безпечний доступ до управління домом та відстежування ситуації в режимі реального часу. А
        якщо у вас вже є якась система розумного дому - вам не потрібно переплачувати, адже ми забезпечимо
        інтеграцію.</p>
{% endblock %}

{# Features #}
{% block features-header %}
    <h2>Чому ми? </h2>
{% endblock %}
{% block features-1 %}
    <h3>Автономність</h3>
    <p>Навіть якщо у вас удома зникне енергопостачання - не біда. SafeHouse всерівно не припиняє піклуватися про вас і
        робити вашу оселю максимально безпечною.</p>
{% endblock %}
{% block features-2 %}
    <h3>Потужність</h3>
    <p>Потужний двигун, повністю металевий редуктор, високе передатне число: все це робить забезпечує надійність та
        гарантію перекриття навіть найстарішого крану.</p>
{% endblock %}
{% block features-3 %}
    <h3>Масштабованість</h3>
    <p>SafeHouse - система, що легко і швидко розширюється. Ви завжди можете доставити додаткові датчики та крани, щоб
        забезпечити покриття всієї домівки.</p>
{% endblock %}

{#Feedback#}
{% block feedback-header %}
    <h2>Відгуки</h2>
{% endblock %}
{% block person-1 %}
    <figure>
        <img src="{% static 'landing/images/person_1.jpg' %}" alt="user">
    </figure>
    <span>Твоє ім'я</span>
    <blockquote>
        <p>&ldquo;Тут буде твій відгук&rdquo;</p>
    </blockquote>
{% endblock %}
{% block person-2 %}
    <figure>
        <img src="{% static 'landing/images/person_2.jpg' %}" alt="user">
    </figure>
    <span>Ім'я твого друга, якому ти про це розказав</span>
    <blockquote>
        <p>&ldquo;Тут буде його відгук&rdquo;</p>
    </blockquote>
{% endblock %}
{% block person-3 %}
    <figure>
        <img src="{% static 'landing/images/person_3.jpg' %}" alt="user">
    </figure>
    <span>Ім'я твого сусіда, який дізнався про це від тебе</span>
    <blockquote>
        <p>&ldquo;Тут буде його відгук&rdquo;</p>
    </blockquote>
{% endblock %}

{#What we offer#}
{% block what-we-offer-header %}
    <h2>Хочеш детальніше познайомитись з SafeHouse? </h2>
{% endblock %}

{% block offer-headers-1 %}Що це взагалі?{% endblock %}
{% block offer-headers-2 %}Як це працює? {% endblock %}
{% block offer-headers-3 %}Хто ми?{% endblock %}
{% block offer-headers-4 %}Що нам потрібно?{% endblock %}

{% block offer-1 %}
    <h2>Що це взагалі?</h2>
    <p>SafeHouse це стартап, основною метою якого є зменшення, випадків(дуже часто летальних) пов’язаних з витоком
        чадного чи природного газу. Отож, рішенням є система, яка складається з датчиків та насадки на ваш кран. У разі
        витоку система автоматично перекриє кран і усуне проблему. А також ви отримаєте сповіщення на ваш телефон та
        гучне звукове оповіщення у вас вдома.</p>
    <p>Також ця система дає вам змогу спостерігати за ситуацією вдома віддалено: через додаток або веб-сторінку</p>
{% endblock %}
{% block offer-2 %}
    <h2>Як це працює?</h2>
    <p>Ми надаємо насадку на кран, що легко встановлюється не порушуючи існуючих комунікацій. Також в комплекті йде
        сенсор (газу чи води, залежно від вибору), який кріпиться безпосередньо в місці ризику (під умивальником, поруч
        з котлом…).</p>
    <p>Якщо у вас ще немає системи розумного дому, ми пропонуємо хаб, який і надає підтримку сповіщення на телефоні та
        веб сторінки. Він під’єднується до вашого домашнього wi-fi, і дає вам можливість слідкувати та керувати
        ситуацією вдома віддалено. Усі ваші дані йдуть по нашому захищеному тунелю, тобто без участі будь-якого
        зовнішнього серверу.</p>
{% endblock %}
{% block offer-3 %}
    <h2>Хто ми?</h2>
    <p>Ми невеличка команда львівських студентів-ентузіастів, які вже більш ніж пів року працюють над створенням цього
        стартапу. Починалось все з вирішення проблеми нашого друга, який ледь не втратив життя через зворотню тягу в
        газовому котлі. Тож, сподіваємось, ми зможемо вирішити і вашу проблему.</p>
{% endblock %}
{% block offer-4 %}
    <h2>Що нам потрібно? </h2>
    <p>Зараз ми перебуваємо ще на стадії розробки та валідації гіпотез. Тому, в першу чергу, зараз нам потрібна Ваша
        підтримка у вигляді відгуків, для того щоб ми зробили наш продукт якомога кращим. Якщо ви підпишетесь на
        оновлення по email або на сторінках соціальних мереж, можливо, ми запросимо вас на інтерв’ю)</p>
{% endblock %}

{#Footer#}
{% block copyrights %}
    &copy; 2019 SAFEHOUSE. Всі права захищено. Всі до одного (Ні одного😅)
{% endblock %}
{% block fb-link %}https://www.facebook.com/safehousestartup/{% endblock %}
{% block insta-link %}https://instagram.com/safehousestartup{% endblock %}
